services:
  db:
    image: pgvector/pgvector:pg16
    environment:
      POSTGRES_USER: redpajama
      POSTGRES_PASSWORD: redpajama
      POSTGRES_DB: redpajama_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d

volumes:
  pgdata:
